<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/news">
        <ion-icon name="newspaper-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/gallery">
        <ion-icon name="images-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gallery-container">
    <div *ngFor="let item of galleryItems" class="gallery-item" (click)="openImage(item)">
      <ion-img [src]="item.image" alt="{{ item.title }}"
        (error)="item.image = 'assets/imgs/placeholder-image.jpg'"></ion-img>
      <h3>{{ item.title }}</h3>
      <p>{{ formatDate(item.date) }}</p>
    </div>
  </div>



  <ion-modal [isOpen]="!!selectedImage">
    <ng-template>
      <ion-content>
        <div class="modal-container">
          <ion-img *ngIf="selectedImage?.image" [src]="selectedImage?.image" alt="{{ selectedImage?.title }}"></ion-img>
          <h2>{{ selectedImage?.title }}</h2>
          <p>{{ formatDate(selectedImage?.date) }}</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>