<ion-header [translucent]="true">
  <ion-button expand="full" routerLink="/">
    <ion-icon name="home-outline" slot="start"></ion-icon>
    Zur Startseite
  </ion-button>
  <ion-button expand="full" routerLink="/news">
    <ion-icon name="newspaper-outline" slot="start"></ion-icon>
    Zu den Neuigkeiten
  </ion-button>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gallery</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>