<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/news">
        <ion-icon name="newspaper-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/gallery">
        <ion-icon name="images-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="news-list">
    <ion-card *ngFor="let post of sortedPosts">
      <ion-img [src]="post.image" alt="Bild des Beitrags"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ post.title }}</ion-card-title>
        <p class="post-date">Veröffentlicht am: {{ formatDate(post.date) }}</p>
      </ion-card-header>
      <ion-card-content>
        {{ post.content }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>