ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-light);
}

ion-icon {
    font-size: 20px;
}

ion-button {
    --color: var(--ion-color-light);
    --color-focused: var(--ion-color-light);
    --color-hover: var(--ion-color-light);
}


.news-list {
    padding: 20px;

    ion-card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    ion-img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    ion-card-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .post-date {
        font-size: 0.9rem;
        color: gray;
        text-align: center;
        margin-top: 5px;
    }

    ion-card-content {
        font-size: 1rem;
        color: #333;
        text-align: justify;
    }
}



.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Zentriert die Posts horizontal */
    gap: 16px;
    /* Abstand zwischen den Posts */
}

.news-item {
    width: 100%;
    max-width: 600px;
    /* Maximale Breite */
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px #0000001a;
    text-align: center;
    /* Zentriert Text innerhalb des Posts */
}

.news-item ion-img {
    width: 100%;
    height: auto;
    /* Maximale Bildhöhe */
    object-fit: cover;
    /* Bild proportional zuschneiden */
}

.news-item h2 {
    margin: 16px 0;
    font-size: 1.5rem;
    color: #333;
}

.post-content {
    padding: 16px;
    display: none;
    /* Standardmäßig ausgeblendet */
    text-align: left;
}

.post-content.expanded {
    display: block;
    /* Zeige Inhalt bei erweitertem Zustand */
}

ion-button {
    margin: 16px 0;
}