<ion-header>
  <ion-toolbar>
    <ion-title>Willkommen</ion-title>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news" routerLink="/news">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Neuigkeiten</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="gallery" routerLink="/gallery">
          <ion-icon name="images"></ion-icon>
          <ion-label>Bildergalerie</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-image">
    <img src="assets/imgs/header.jpg" alt="Header Image" />
  </div>
</ion-content>